<header class="header">
  <div class="title">
    <span class="title-text"> SEE MY EXERCISE</span><br/>
    <span claas="title-description">MUHAMMAD REJKA PERMANA</span>
  </div>
  <nav class="navigation">

    <section class="logo"></section>

    <section class="navigation__icon">
      <span class="topBar"></span>
      <span class="middleBar"></span>
      <span class="bottomBar"></span>
    </section>

    <ul class="navigation__ul">
      <li><a href=<%= csses_path %>> CSS  </a></li>
      <li><a href=<%= bootstrapings_path %>> BOOTSTRAP </a></li>
      <li><a href=<%= javaqueries_path %>>JQUERY</a></li>
    </ul>
  </nav>

</header>
